[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "==2.0.3"
matplotlib = "==3.7.1"
apscheduler = "==3.10.1"
sqlite3 = "*"

[dev-packages]

[requires]
python_version = "3.13"
